@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-container {
  font-size: 16px;
  height: calc(100% - 42px) !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #f8fafc;
  border-color: #e2e8f0 !important;
}

.ql-editor {
  height: 100% !important;
  max-height: none !important;
  font-family: 'Inter', sans-serif;
  padding: 2rem !important;
}

.glass-effect {
  background: rgb(51 85 240 / 70%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.gradient-bg {
  background: linear-gradient(135deg, #f6f9f9 0%, #dbe4e4 100%);
}